# Running Server Command
# python create_vector_db.py
# uvicorn app.main:app --reload

# Framwork and server
fastapi
uvicorn[standard]
httpx
python-dotenv
httpie

# LangChain RAG PipeLine
langchain
langchain-google-genai 
pandas
langchain-groq
langchain-huggingface
langchain-community
faiss-cpu

# Vector DB and Embedding Model
faiss-cpu
langchain-huggingface
sentence-transformers


